.email-preview{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border: solid darkgray thin;
}
.email-preview:hover{
    border: solid darkgray thick;
    cursor: pointer;
}

.email-read{
    background-color: grey;
}
.email-body{
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden; 
    max-height: 1.2em;
}

.email-preview a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    display: inherit;
    justify-content:inherit;
    align-items: inherit;
}

.email-button{
    display: none;
}
.email-preview:hover .email-button{
    display: inherit;
}

.email-preview:hover .email-sent-date{
    display: none;
}